<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :users, as: :check_boxes %>


  <div class="form-inputs">
   <div class="form-group check_boxes optional message_users">
     <label class="check_boxes optional control-label">Users</label>
     <% User.all.each do |user| %>
      <% if user.profile %>
     <span class="checkbox">
       <label for="message_user_ids_<%= user.id %>"><input class="check_boxes optional" type="checkbox" value="<%= user.id %>" name="message[user_ids][]" id="message_user_ids_<%= user.id %>" /><%= user.profile.name %>
       </label>
       </span>
      <% end %>
    <% end %>
   </div>
  </div>

    <%= f.input :sender_id %>
    <%= f.input :subject %>
    <%= f.input :message %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
