<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= image_tag(@profile.profile_pic_url) %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>Phone: <%= @profile.phone %></p>

<% if current_user.profile == @profile %>
  <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning' %>
<% end %>

<%= link_to 'Back', profiles_path %>

<%= link_to "Create your business profile", new_business_profile_path %>

<br>
<h2>I work here:</h2>
<ul>
   <% @profile.user.business_profiles.each do |business_profile| %>
   <li><%= link_to business_profile.name, business_profile_path(business_profile), class: 'btn btn-primary' %></li>
   <% end %>
</ul>

<br>
<h2>I work here:</h2>
<ul>
   <% @profile.user.business_profiles.each do |business_profile| %>
     <li><%= link_to business_profile.name, business_profile_path(business_profile) %></li>
   <% end %>
</ul>
